<label for="{{namePage}}Password" class="label">{{label}}</label>
<input
        id="{{namePage}}Password"
        name="{{nameField}}"
        type="{{#if typeField}}{{typeField}}{{else}}text{{/if}}"
        class="input input__{{#if mod}}{{mod}}{{else}}aqua{{/if}}">
